* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: lightgray;
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid gray;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  margin: 0;
  padding: 8px;
  border-top: 1px solid gray;
}

.red {
  color: lightcoral;
}

.blue {
  color: lightskyblue;
}

.green {
  color: lightgreen;
}

.tictactoe {
  display: flex;
  padding: 36px;
  gap: 36px;
}

.tictactoe .status {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
}

.tictactoe-board {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tictactoe-board .board-row {
  display: flex;
  gap: 4px;
}

.tictactoe-board .square {
  width: 64px;
  height: 64px;
  font-size: 24px;
}

.tictactoe-info {
  margin-top: -24px;
}

.tictactoe-info ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tictactoe-info button {
  padding: 4px 8px;
  border: none;
}

.tictactoe-info li:nth-child(odd) button {
  background-color: lightblue;
  color: black;
}

.tictactoe-info li:nth-child(even) button {
  background-color: lightcoral;
  color: white;
}

.tictactoe-info li:first-child button {
  background-color: lightgray;
}

