* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: lightgray;
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid gray;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  margin: 0;
  padding: 8px;
  border-top: 1px solid gray;
}

.red {
  background-color: lightcoral;
}

.blue {
  background-color: lightblue;
}

.yellow {
  background-color: lightgoldenrodyellow;
}

.black {
  background-color: #252525;
  color: #dddddd;
}

